@use "sass:map";
@use "variables";

@mixin min-width($breakpoint) {
    @media screen and (min-width: map.get(variables.$breakpoints, $breakpoint)) {
        @content;
    }
}

@mixin themed($property, $light-value, $dark-value) {
    [data-theme="light"] & {
        #{$property}: $light-value;
    }

    [data-theme="dark"] & {
        #{$property}: $dark-value;
    }
}