name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    name: CI

    runs-on: ubuntu-latest

    strategy:
      matrix:
        sdk: [stable, beta]

    steps:
      - uses: actions/checkout@v5

      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}

      - name: Install melos
        run: dart pub global activate melos 7.3.0

      - name: Install coverage
        run: dart pub global activate coverage

      - name: Melos bootstrap
        run: melos bs

      - name: Install dependencies
        run: dart pub get

      - name: Verify formatting
        run: melos exec dart format --output=none --show=changed --set-exit-if-changed .
      
      - name: Analyze project source
        run: melos exec dart analyze
        if: ${{ matrix.sdk == 'stable' }}

      - name: Analyze project source (No fatal)
        run: melos exec dart analyze --no-fatal-warnings
        if: ${{ matrix.sdk != 'stable' }}

      - name: Run tests (with coverage)
        run: melos coverage --no-select
      
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: packages/binary/coverage.lcov,packages/check/coverage.lcov,packages/core/coverage.lcov,packages/effect/coverage.lcov,packages/ip/coverage.lcov,packages/json/coverage.lcov,packages/optics/coverage.lcov,packages/units/coverage.lcov
          verbose: true
