name: Test website deployment

on:
  pull_request:
    branches:
      - main

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest

    defaults:
        run:
          working-directory: ./website

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: "website"

      - name: Install dependencies
        run: npm ci
      - name: Test build website
        run: npm run build